// Variables
$primary-color: #cb6095
$secondary-color: #515860
$font-family: "Arial", sans-serif
$base-font-size: 16px
$search-bar-height: 40px
$rounded-border-radius: 20px

$container-max-width: 1200px
$horizontal-padding-large: 2rem // Padding for large screens
$horizontal-padding-small: 1rem // Padding for small screens

// Mixins
@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center

@mixin buttonBase
  padding: 0 1rem
  border: none
  cursor: pointer
  background-color: $primary-color
  color: white
  outline: none
  border-radius: 0 $rounded-border-radius $rounded-border-radius 0

  &:hover
    background-color: darken($primary-color, 10%)

@mixin noLinkDeco
  color: inherit
  text-decoration: none

// Global styles
*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: $font-family
  font-size: $base-font-size

.flex
  display: flex

.flex-separate
  justify-content: space-between

.content-container
  max-width: $container-max-width
  margin: 0 auto // Center the container
  padding: 0 $horizontal-padding-large // Apply initial horizontal padding for large screens

  // Responsive adjustments with media queries
  @media (max-width: 768px)  // Adjust the breakpoint as needed
    padding: 0 $horizontal-padding-small // Smaller padding for smaller screens

  @media (max-width: 480px)  // Breakpoint for very small screens, like mobile devices
    padding: 0 // No horizontal padding for mobile screens

// Layout
.outer-container
  display: flex
  flex-direction: column
  min-height: 100vh
  width: 100%

  .routes-container
    flex: 1

// Header
.header
  width: 100%
  align-items: center
  padding: 1rem 2rem
  background-color: #fff // or any color that matches your design

  .header-link,
  .home-link,
  .saved-link,
  .user-link
    @include noLinkDeco
    color: #333 // dark gray for the text
    margin-right: 2rem // space between the links
    display: flex
    align-items: center

    &:hover
      text-decoration: underline

    svg
      margin-right: 0.5rem // space between icon and text

  h1
    font-size: 1.5rem
    color: $primary-color // Brand color for the logo text
    margin: 0

  p
    font-size: 0.9rem
    color: #6c757d // A lighter gray for the subtext
    margin-top: 0.5rem

// Search Bar
.search-bar
  @include flexCenter
  padding: 1rem 0
  max-width: 600px
  margin: 0 auto

  form
    display: flex

  .search-input
    width: 100%
    height: $search-bar-height
    padding: 0 1rem
    border: 1px solid $secondary-color
    border-right: none
    border-radius: $rounded-border-radius 0 0 $rounded-border-radius
    outline: none

    &:focus
      border-color: $primary-color

  .search-button
    @include buttonBase
    height: $search-bar-height

    i
      font-size: 1rem
// Filter styles
.filter
  display: flex
  flex-direction: column
  align-items: center

  .filter-bubbles
    display: flex
    flex-wrap: wrap
    gap: 10px
    margin-bottom: 10px

  .formNButton
    display: flex
    justify-content: center

  .bubble
    display: flex
    align-items: center
    background-color: lightblue
    border-radius: $rounded-border-radius
    padding: 5px 10px
    font-size: 14px
    margin: 0 5px 5px 0

    button
      background-color: transparent
      border: none
      cursor: pointer

      &:hover
        background-color: darken(lightblue, 10%)

    .tick
      margin-left: 5px

  input
    @include flexCenter
    border: 0

    &:focus
      border-color: $primary-color

  input, button
    padding: 10px
    font-size: $base-font-size

  button
    @include buttonBase
    background-color: $primary-color
    color: white
    border: none
    cursor: pointer

    &:hover
      background-color: darken($primary-color, 10%)

// Content
.content
  display: flex
  flex-wrap: wrap
  padding: 2rem
  gap: 1rem

  .content-box
    flex: 0 0 calc(33.333% - 1rem)
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: space-evenly
    cursor: pointer

    h2, p
      color: $secondary-color

    img
      max-width: 80%
      height: auto
      border-radius: 8px

// Detailed view styles
.modal-backdrop
  @include flexCenter
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 10

  .modal-content
    width: 50%
    height: 60%
    background-color: white
    padding: 20px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    display: flex
    flex-direction: column
    overflow: auto
    border-radius: $rounded-border-radius

    .modal-top-row
      display: flex

      .modal-image
        width: 40%
        img
          width: 100%

      .modal-header
        padding-left: 15px

        .saved-link
          font-size: 30px
          color: inherit
          cursor: pointer

    .modal-info
      padding-top: 20px

// Responsive adjustments
@media (max-width: 768px)
  .modal-content
    width: 90%
    .modal-header
      flex-direction: column

      .modal-image, .modal-title
        width: 100%
        padding-left: 0
        padding-top: 20px

// saved styles
.saved h1
  font-size: 30px
  color: $secondary-color
  padding: 2rem 15rem

.auth-form-container
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  background-color: #f7f7f7

  .auth-form
    background: #fff
    padding: 2rem
    border-radius: 8px
    box-shadow: 0 4px 10px rgba(0,0,0,0.1)
    width: 100%
    max-width: 400px

    label
      display: block
      color: #333
      font-weight: bold
      margin-top: 1rem

    input[type="email"],
    input[type="password"]
      width: 100%
      padding: 0.5rem
      border-radius: 4px
      border: 1px solid #ddd
      margin-top: 0.5rem

    button
      margin-top: 1.5rem
      padding: 0.5rem 1rem
      width: 100%
      font-size: 1rem
      font-weight: bold
      color: #fff
      background-color: #5cb85c
      border: none
      border-radius: 4px
      cursor: pointer
      transition: background-color 0.3s ease

      &:hover
        background-color: darken(#5cb85c, 10%)

.footer
  background-color: $secondary-color
  color: white
  padding: 1rem
  width: 100%
  display: flex
  justify-content: center
